<?xml version="1.0"?>
<launch>
  <!-- start ignition gazebo -->
  <node pkg="ros_ign_gazebo" type="ign_gazebo" name="ign_gazebo" output="screen" args="-r camera_sensor.sdf"/>

  <!-- start parameter bridge -->
  <node pkg="ros_ign_bridge" type="parameter_bridge" name="parameter_bridge" output="screen" args="/camera@sensor_msgs/Image@ignition.msgs.Image"/>

  <!-- view the message -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="screen"/>

</launch>
